.destination {
    background-image: url('../../images/destination/bg.jpg');
    height: 900px;
    background-size: cover;
}

header nav a.__active::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 95px;
    height: 3px;
    background-color: white;
}